<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Главная</title>
</head>

<body>
    <div>
        <h1 style="text-align: center;">Биржа труда</h1>
        <div style="text-align: center;"><img
                src="https://i.pinimg.com/originals/88/f3/4d/88f34d5ad43847a96e952c2b4bc66745.jpg" /></div>
        <div style="text-align: center;"><button onclick="window.location.href='/enter'">Вход в приложение</button></div>
    </div>
</body>

</html>