<!DOCTYPE HTML>
<html lang="ru">

<head>
    <meta charset="utf-8" />
    <title>Авторизация</title>
    <link rel="stylesheet" type="text/css" href="/static/styles.css" />
</head>

<body>
    <div class="main">
        <div class="btn__container">
            <div class="btn">
                <a class="btnLink" href="/auth">Авторизироваться</a>
            </div>
        </div>
    </div>
</body>

</html>