<!DOCTYPE HTML>
<html lang="ru">

<head>
    <meta charset="utf-8" />
    <title>Auth app</title>
    <link rel="stylesheet" type="text/css" href="/static/styles.css" />
</head>

<body>
    <div class="main">
        <div class="container">
                <div class="col">Файл <%= filename %> загружен в dropbox</div>
            <div class="btn">
                <a class="btnLink" href="/content">Назад</a>
            </div>
        </div>
    </div>
</body>

</html>