<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Вход</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
</head>

<body>
    <h1><a class="buttonLogin" href="/enter">Вход</a></h1>
</body>

</html>