<!DOCTYPE html>
<html>

    <head>
        <link href="Mystyle.css" rel="stylesheet">
    </head>
    <body>
        <div class="Header_">
            <a class="button" disabled="true"><span>Суши-бар</span></a>
        </div>
        <div class="ButtonSignIN">
            <a class="button" href="/signIn"><span>Sign In</span></a>
        </div>
        <div>
            <img src="https://бизнесидея.рф/wp-content/uploads/2018/07/kak-otkryt-sushibar.jpg" alt="">
        </div>
    </body>
</html>