<!DOCTYPE html>
<html>
    <head></head>
<body>
    <title>Загрузка файлов</title>
    <form action="/download" method="post">
        <div>
            <td><label>Введите ваш токен:</label></td>
            <td width="550"><input name="access_token" value='' autocomplete="off"></td>
        </div>
        <div>
            <td><label>Введите ссылку на файл:</label></td>
            <td width="550"><input name="shared_link" value='' autocomplete="off"></td>
        </div>
        <div>
            <button type="submit">Загрузить</button>
        </div>
    </form>
</body>

</html>