<!DOCTYPE html>
<html>
    <head></head>
<body>
    <title>Инофрмация о токене</title>
    <div>
        <label>
            Токен:
        </label>
        <label>
            <%= access_token %>
        </label>
    </div>
    <div>
        <label>
            Токен умчет( через:
        </label>
        <label>
            <%= expires_in %>
        </label>
    </div>
    <div>
        <label>
            Тип токена:
        </label>
        <label>
            <%= token_type %>
        </label></div>
    <div>
        <label>
            ID аккаунта:
        </label>
        <label>
            <%= account_id %>
        </label>
    </div>

</body>

</html>