<!DOCTYPE html>
<html>
    <head></head>
     <body>
        <title>Главная страница</title>
        <div>
            <div>
                <form action="/index" method="post">
                    <button type="submit">Авторизоваться</button>
                </form>
            </div>
            <div>            
                <form action="/getinfo" method="get">
                    <button type="submit">Инфа про дропбокс</button>
                </form>
            </div>
            <div>
                <form action="/download" method="get">
                    <button type="submit">Скачать что-то</button>
                </form>
            </div>
            <div>
                <form action="/upload" method="get">
                    <button type="submit">Загрузить что-то</button>
                </form>
            </div>
        </div>
    </body>
</html>