<!DOCTYPE html>
<html>
    <head></head>
<body>
    <title>Отправкаа файлов</title>
    <form action="/upload" method="post">
        <div>
            <label>Введите токен:</label></td>
            <input name="access_token" value='' autocomplete="off">
        </div>
        <div>
            <label>Введите путь до файа:</label>
            <input name="filename" value='' autocomplete="off">
        </div>
        <div>
            <button type="submit">Отправить</button>
        </div>
    </form>
</body>

</html>