<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/public/css/style.css">
    <title>Главная страница</title>
</head>
<body>
    <div class="indexPage">
        <h1>Доска объявлений</h1>
        <button type="submit"><a href="/login">Войти</a></button>
    </div>
</body>
</html>