<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <title>Чат программа</title>
    <style>
        body {
            background: #fcfcfc;
        }

        .channel {
            width: 100%;
        }

        .channel:hover {
            background-color: aquamarine;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="py-5 text-center">
        <h2>Чат программа</h2>
        <p class="lead">Выберите канал общения</p>
    </div>
    <div class="row">
        <dic class="col-12 text-center">
            <% if(channels){ %>
                <h3>Каналы</h3>
                <div id="all_mess">
                    <% for(let i = 0;i < channels.length;i++){ %>
                        <form action="/visit" method="post" onsubmit="this.preventDefault();">
                            <input class="form-control form-control-sm" name="channelName" style="display: none;" value="<%= channels[i] %>" />
                            <button type="submit" class="alert alert-info channel"><%= channels[i] %></button>
                        </form>
                    <% } %>
                </div>
            <% } %>
            <form action="/addChannel" method="post" class="form-inline" onsubmit="this.preventDefault();">
                <input class="form-control form-control-sm" name="name" required/>
                <button class="btn btn-primary" style="margin-left: 12px;" type="submit">Добавить</button>
            </form>
        </dic>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script>
</script>
</body>
</html>