<!DOCTYPE HTML>
<html lang="ru">

<head>
    <meta charset="utf-8" />
    <title>Chat</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/static/styles.css" />
</head>

<body>
    <div class="main">
        <div class="container" id="text_col">
            <div class="row justify-content-md-center">
                <div class="col-lg-1">
                    <label>Имя</label>
                </div>
                <div class="col-md-auto">
                    <input type="text" id="name" autocomplete="off"> 
                </div>          
            </div>
            <div class="row justify-content-md-center">
                <div class="col-lg-1">
                    <label>Комната</label>
                </div>
                <div class="col-md-auto">
                    <input type="text" id="room" autocomplete="off"> 
                </div>          
            </div>
            <div class="row justify-content-md-center">
                <input type="button" class="btn" value="Войти"
                    onclick="window.location.href = '/chat?name=' + document.getElementById ('name').value + '&room=' + document.getElementById ('room').value">
            </div>
        </div>
    </div>
</body>

</html>