<!DOCTYPE html>
<html>
    <head>
        <style>
            body {
                    margin-top:30%
                 }
        </style>
    </head>
    <body>
        <table align="center">
            <tr>
                <td><label>access_token:</label></td>
                <td><label><%= access_token %></label></td>
            </tr>
            <tr>
                <td><label>expires_in:</label></td>
                <td><label><%= expires_in %></label></td>
            </tr>
            <tr>
                <td><label>refresh_token:</label></td>
                <td><label><%= refresh_token %></label></td>
            </tr>
            <tr>
                <td><label>token_type:</label></td>
                <td><label><%= token_type %></label></td>
            </tr>
        </table>
    </body>
    <script>

    </script>
</html>