<!DOCTYPE HTML>
<html lang="ru">
<head>
    <meta charset="utf-8"/>
    <title>File management app | Downloaded</title>
    <link rel="stylesheet" href="styles.css"/>
</head>
<body>
<div class="container">
    <h2>File <%= shared_link %> was downloaded.<br>Check the app directory to find it.</h2>
    <a class="a-goto-files" href="/files">Go to Files page</a>
</div>
</div>
</body>
</html>