<!DOCTYPE HTML>
<html lang="ru">
<head>
    <meta charset="utf-8"/>
    <title>File management app</title>
    <link rel="stylesheet" href="styles.css"/>
</head>
<body>
<div class="container">
    <h1>File management app</h1>
    <a class="a-goto-files" href="/files">Get user's files</a>
</div>
</body>
</html>