<!DOCTYPE HTML>
<html lang="ru">
<head>
    <meta charset="utf-8"/>
    <title>File management | Uploaded</title>
    <link rel="stylesheet" href="styles.css"/>
</head>
<body>
<div class="container" id="text_col">
    <h2>File <%= filename %> was uploaded to Dropbox</h2>
    <a class="a-goto-files" href="/files">Go to Files page</a>
</div>
</div>
</body>
</html>