<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/styles.css"/>
    </head>
    <body class="info">
        <table align="center">
            <tr><td><label class="col-sm col-form-label info">access_token: <%= access_token %></label></td></tr>
            <tr><td><label class="col-sm col-form-label info_time">expires_in: <%= expires_in %></label></td></tr>
            <tr><td><label class="col-sm col-form-label info">token_type: <%= token_type %></label></td></tr>
            <tr><td><label class="col-sm col-form-label info">account_id: <%= account_id %></label></td></tr>
        </table>
    </body>
</html>