body {
    background: #d8ac73;
}

#index>.btn {
    font-size: 16px;
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.btn {
    font-size: 14px;
}

#index>.btn, .btn {
    background-color: #6b5437;
    color: white;
    text-align: center;
}

#text_col {
    color: white;
    font-size: 16px;
}

#text_col>tr>th {
    color: #6b5437;
}

#href_col {
    color: #6b5437;
    font-size: 16px;
}

#file {
    max-width: 50px;
    height: 50px;
    background-image: url(file.jpg);
}

#folder {
    max-width: 50px;
    height: 50px;
    background-image: url(folder.jpg);
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.row {
    margin-top: 30px;
    margin-bottom: 30px
}