<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Sign In</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <link href="styles.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Goblin+One&display=swap" rel="stylesheet">
</head>

<body>
    <div class="content">
        <div class="mainLabel">
            <h1>Library</h1>
        </div>
        <div class="signIn">
            <a class="button" href="/signIn"><span>Sign In</span></a>
        </div>
    </div>
</body>

</html>