<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Главная</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <link href="style.css" rel="stylesheet">
    <style type="text/css">
  .label {
    text-align: center;
    margin-top	: 120px;
  }
  .login {
    text-align: center;
    font-size: 150%;
    margin-top	: 120px;
    text-decoration:none;
  }
 </style>
</head>

<body>
    <div class="mainClass">
        <div class="content">
            <div class="label">
                <h1> Доска объявлений </h1>
            </div>
            <div class="login">
            <a class="buttonLogin" href="/enter">Вход</a>
            </div>
        </div>
    </div>
</body>
</html>
