<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>Tokens</title>

</head>
<body>
<div>
    <h1>Tokens:</h1>
    <h2> Access token: <%= access_token %></h2>
    <h2> Refresh token: <%= refresh_token %>
    </h2>
    <h2> Lifetime: <%= lifetime %></h2>
    <h2> Token type: <%= type %></h2>
    <a href="/updateToken">Get new tokens</a>
    <a href="/logout">Log out</a>
</div>
</body>
</html>