<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Главная</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <link href="style.css" rel="stylesheet">
</head>

<body>
    <div class="mainClass">
        <div class="content">
            <div class="labelHello"> 
                <h1> Ремонт компьютерной техники </h1>
            </div>
            <div class="Login">
            <a class="buttonLogin" href="/enter">Вход</a>
            </div>
        </div>
    </div>
</body>
</html> 