<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Токены</title>
    <link href="style.css" rel="stylesheet">
</head>

<body>
    <div class="mainPage">
        <div class="currentToken">
            <h1>Текущие токены</h1>
        </div>

        <div class="header">
            <h2> Access токен: <%= access_token %>
            </h2>
        </div>

        <div class="header">
            <h2> Refresh токен: <%= refresh_token %>
            </h2>
        </div>
        <div class="header">
            <h2> Время жизни: <%= lifetime %>
            </h2>
        </div>
        <div class="header">
            <h2> Тип токена: <%= type %>
            </h2>
        </div>
        <div class="buttons">
            <a class="buttonAccess" href="/updateToken">Получить новые токены</a>
            <a class="buttonRefresh" href="/logout">Выход</a>
        </div>
    </div>
</body>

</html>