<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Mariya dropbox</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
<div>
    <div class="content-bottom">
        <ul>
            <% result.forEach(function(item) {
               <%= item.name %>
             }); %>
        </ul>
         <a class="btn" href="/files">GET FILES</a>
        <h1></h1>
        <form onsubmit="uploadFile()">
            <input type="file" id="file-upload" />
            <button id="upload-form">upload</button>
            <h2 id="results"></h2>
        </form>
        <form onsubmit="downloadFile()">
            <input type="text" id="shared-link" placeholder="Dropbox shared link to a file" />
            <button type="submit">Submit</button>
        </form>
    </div>
</div>

<script type="module">
    var ACCESS_TOKEN = 'xzb-J0pd8yAAAAAcjnhPQ3YaoaB6mQ3Xhye7uvt77a_UgyaA_cw9UYpP_G'
    function uploadFile() {
        var dbx = new Dropbox({ accessToken: ACCESS_TOKEN });
        var fileInput = document.getElementById('file-upload');
        var file = fileInput;
      dbx.filesUpload({path: '/' + file.name, contents})
            .then(function(response) {
                var results = document.getElementById('results');
                var br = document.createElement("br");
                results.appendChild(document.createTextNode('File uploaded!'));
                results.appendChild(br);
                console.log(response);
            })
            .catch(function(error) {
                console.error(error);
            });
    }

    function downloadFile() {
        var SHARED_LINK = document.getElementById('shared-link').value;
        console.log(SHARED_LINK)
        var dbx = new Dropbox.Dropbox({ accessToken: ACCESS_TOKEN });
        dbx.sharingGetSharedLinkFile({url: SHARED_LINK})
            .then(function(data) {
                var downloadUrl = URL.createObjectURL(data.fileBlob);
                var downloadButton = document.createElement('a');
                downloadButton.setAttribute('href', downloadUrl);
                downloadButton.setAttribute('download', data.name);
                downloadButton.setAttribute('class', 'button');
                document.getElementById('results').appendChild(downloadButton);
            })

    }
</script>


</body>
</html>