<!DOCTYPE html>
<html>

    <head>
        <link href="styles.css" rel="stylesheet">
    </head>
    <body>
        <div class="sampleButton">
            <a class="button" href="/signIn"><span>Sign In</span></a>
        </div>
    </body>
</html>