<!DOCTYPE html>
<html>

<head>
    <link href="styles.css" rel="stylesheet">
</head>

<body>
    <span class="dataRow">Current tokens<br></span>
    <span class="dataRow">Access token:
            <%= access_token %>
        </span><br>
    <span class="dataRow">Refresh token:
            <%= refresh_token %>
        </span><br>
    <span class="dataRow">Lifetime: 
            <%= lifetime %>
        </span><br>
    <span class="dataRow">Type:
            <%= type %>
        </span><br>
    <div class="sampleButton">
        <a class="button" href="/updateTokens"><span>Update</span></a>
    </div>
    <div class="sampleButton">
        <a class="button" href="/signOut"><span>Exit</span></a>
    </div>
</body>

</html>