<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <link href="style.css" rel="stylesheet">
    <title>Главная</title>
</head>

<body>
    <div>
        <h1>Тимофеи и их желания</h1>
        <img src="img/" alt="Timofey" class="img">
       <div class="button__wrap"><button onclick="window.location.href='/enter'">Вход</button></div>
    </div>
</body>

</html>