<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <title>Main</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
</head>

<body>
<form action="/download" method="post" style="position: absolute;">
    <div style="display: flex; justify-content: space-between; min-width: 200px; position: relative;">
        <span>Download link</span>
        <input style="position: relative; margin-left: 20px; min-width: 80px;" name="download_link" required/>
    </div>
    <button type="submit" style="width: 80px">Download</button>
</form>
</body>
</html>