<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/styles.css"/>
    </head>
    <body>
        <title>Folders and Files</title>
        <table class="token" align="center">
            <tr>
                <td><label class="col-sm col-form-label">Folders:</label></td>
                <td><label class="col-sm col-form-label"><%= folders %></label></td>
            </tr>
            <tr>
                <td><label class="col-sm col-form-label">Files:</label></td>
                <td><label class="col-sm col-form-label"><%= files %></label></td>
            </tr>
        </table>
    </body>
</html>