<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/styles.css"/>
    </head>
    <body>
        <title>Token information</title>
        <table>
            <tr class="token_info">
                <td><label class="col-sm col-form-label">access_token:</label></td>
                <td><label class="col-sm col-form-label info"><%= access_token %></label></td>
            </tr>
            <tr class="token_info">
                <td><label class="col-sm col-form-label">expires_in:</label></td>
                <td><label class="col-sm col-form-label info_time"><%= expires_in %></label></td>
            </tr>
            <tr class="token_info">
                <td><label class="col-sm col-form-label">token_type:</label></td>
                <td><label class="col-sm col-form-label info"><%= token_type %></label></td>
            </tr>
            <tr class="token_info">
                <td><label class="col-sm col-form-label">account_id:</label></td>
                <td><label class="col-sm col-form-label info"><%= account_id %></label></td>
            </tr>
        </table>
    </body>
</html>