<!DOCTYPE html>
<html>
    <head>
        <link href="styles.css" rel="stylesheet">
    </head>
    <body>
        <div class="myButton">
            <a class="button" href="/signIn"><span>Sign in</span></a>
        </div>
    </body>
</html>