<!DOCTYPE html>
<html>
  <head>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="container">
      <div class="align-center">
        <div class="p-2 flex-fill bd-highlight">
            <p>Login:</p>
        </div>
        <div class="p-2 flex-fill bd-highlight">
        </p><%= login %></p>
        </div>
    </div>
    <div class="align-center">
      <div class="p-2 flex-fill bd-highlight">
          <p>Real name:</p>
      </div>
      <div class="p-2 flex-fill bd-highlight">
      </p><%= realName %></p>
      </div>
  </div>
  <div class="align-center">
    <div class="p-2 flex-fill bd-highlight">
        <p>E-mail:</p>
    </div>
    <div class="p-2 flex-fill bd-highlight">
    </p><%= email %></p>
    </div>
</div>
    </div>
  </body>
</html>
