<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/styles.css"/>
    </head>
    <body>
        <div class="container">
            <div class="align-center">
              <div class="p-2 flex-fill bd-highlight">
                  <p>Access token:</p>
              </div>
              <div class="p-2 flex-fill bd-highlight">
              </p><%= accessToken %></p>
              </div>
          </div>
          <div class="align-center">
            <div class="p-2 flex-fill bd-highlight">
                <p>Refresh token:</p>
            </div>
            <div class="p-2 flex-fill bd-highlight">
            </p><%= refreshToken %></p>
            </div>
        </div>
        </div>
    </body>
</html>